<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AWS_ACCESS_KEY" value="TODO" />
		<add key="AWS_SECRET_KEY" value="TODO" />
	</appSettings>
</configuration>